{{ define "base_opening" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
            integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
            crossorigin="anonymous"
    ></script>
    <title>{{ .PageTitle }}</title>
</head>
<body class="h-screen flex flex-col">
{{ template "header" . }}

<main class="flex flex-column flex-grow justify-center items-center">
    {{ end }}

    {{ define "base_closing" }}
</main>

{{ template "footer" . }}
</body>
</html>
{{ end }}